<!-- all_profiles.html -->
{% extends 'base.html' %}

{% block title %}All Profiles - Job Board{% endblock %}

{% block content %}
    <h2>All Profiles</h2>
    <button type="button" class="back-to-profile-btn"><a
                            href="{% url 'user_profile' username=request.user.username %}">< My Profile</a></button>
    <!-- Search form -->
    <form method="GET" action="{% url 'all_profiles' %}">
        <input type="text" name="search" placeholder="Search by username">
        <button type="submit">Search</button>
    </form>

    <ul class="all-profiles">
        {% for profile in profiles %}
            <li><a class="test" href="{% url 'user_profile' profile.user.username %}">{{ profile.user.username }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
